<div class="content">
  <h1 class="title content__title">
    Дела
  </h1>

  <div class="content__main">
    <app-message *ngIf="isMessage"
      [messageText]="messageText"
      [messageClass]="messageClass"
    ></app-message>

    <app-task *ngFor="let task of tasks"
              [task]="task"
              [lists]="lists"
              [labels]="labels"
              (onDone)="done($event)"
              (onEdit)="edit()"
              (onArchive)="archive($event)"
    ></app-task>

    <app-add-button (onClick)="add()"></app-add-button>
  </div>
</div>
