<div class="label" #labelRef>
  <div class="label__preview">
    <p class="label__preview-title">{{ label.title }}</p>

    <div class="label__preview-buttons">
      <button class="button button__edit" (click)="edit()">Редактировать</button>
      <button class="button button__delete" (click)="delete(label.id)">Удалить</button>
    </div>
  </div>


  <div class="label__parameters" *ngIf="isLabelParameters">
    <div class="label__parameters-left">
      <div class="input__block">
        <p>Название</p>
        <input type="text"
               placeholder="Название"
               #inputTitle
               (blur)="setPreviewTitle(inputTitle.value)"
               [value]="this.label.title"
        >
      </div>

      <div class="input__block">
        <p>Цвет</p>
        <input placeholder="Цвет"
               (blur)="isLabelPreview = true"
               [(ngModel)]="label.color"
        >
      </div>
    </div>

    <div class="label__parameters-right">
      <div class="input__block">
        <p>Превью</p>

        <div class="label__wrap">
          <div class="label__wrap-preview"
               *ngIf="isLabelPreview"
               [style.background-color]="label.color"
          >
            {{ labelPreviewTitle }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
