<div class="task" #taskRef>
  <div class="task__preview">
    <p class="task__preview-title">{{ task.title }}</p>

    <div class="task__preview-buttons">
      <button class="button button__done" (click)="done()">Сделано</button>
      <button class="button button__edit" (click)="edit()">Редактировать</button>
      <button class="button button__archive" (click)="archive()">Архивировать</button>
    </div>
  </div>


  <div class="task__parameters" *ngIf="isTaskParameters">
    <div class="task__parameters-left">
      <div class="input__block">
        <p>Название</p>
        <input type="text"
               placeholder="Название"
               #inputTitle
               (blur)="task.title = inputTitle.value"
               [value]="this.task.title"
        >
      </div>

      <div class="input__block">
        <p>Описание</p>
        <textarea placeholder="Текст"
                  [(ngModel)]="task.description"
        ></textarea>
      </div>
    </div>

    <div class="task__parameters-right">
      <div class="input__block">
        <p>Список</p>
        <select [(ngModel)]="task.listId">
          <option value="Дом">Дом</option>
          <option value="Улица">Улица</option>
          <option value="Работа">Работа</option>
        </select>
      </div>

      <div class="input__block">
        <p>Метка</p>
        <select [(ngModel)]="task.labelId">
          <option value="РМП">РМП</option>
          <option value="ЗЗЗ">ЗЗЗ</option>
          <option value="ДПС">ДПС</option>
        </select>
      </div>
    </div>
  </div>
</div>
